<div class="wrapper">
    
    <div class="form-wrapper">
        <form class="form-horizontal" role="form" name="submitForm" novalidate >
            <div class="form-group-wrapper">
                <label class="form-group-label">
                    名称
                </label>
                <span class="form-group-content">
                    <input type="text" class="form-group-input" ng-model="formData.name" required>
                </span>

            </div>
            <div class="form-group-action">
               
                <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="submitForm.$invalid">
                    保存
                </button>
             
            </div>
        </form>



    </div>
</div>